<tr *ngIf="rowType === types.Dashboard">
  <td>{{ row.stream_name }}</td>
  <td nowrap>{{ row.stream_price }}</td>
  <td nowrap>{{ row.start_date| date }}</td>
  <td nowrap>{{ row.end_date | date }}</td>
  <td nowrap>
    <div class="action-wrapper">
      <a href="{{row.url || row.stream_url}}" target="_blank" class="btn btn-primary-alt btn-sm">Open</a>
      <a (click)="copyToClipboard()" class="btn btn-primary-alt btn-sm">Copy</a>
    </div>
  </td>
</tr>
<tr *ngIf="rowType === types.Wallet">
  <td>{{ row.stream_name }}</td>
  <td>{{ row.type }}</td>
  <td nowrap>{{ row.start_date| date }}</td>
  <div class="value" [ngClass]="row.type === 'Income' ? 'value--plus' : 'value--minus'">
    <td nowrap>{{row.stream_price | subscriptionType:row.type}}</td>
  </div>
</tr>
<tr *ngIf="rowType === types.Contract">
  <td>{{ row.stream.name }}</td>
  <td nowrap>{{ row.stream.price | tas }}</td>
  <td nowrap>{{ row.share }} %</td>
  <td nowrap> {{row.expirationDate | date: 'MMM d, y'}}</td>
  <td nowrap>
    <div *ngIf="row.signed && !row.expired" class="status-wrapper">
      <span class="status-icon status-icon--signed"></span>
      <span class="status-icon__text">Signed</span>
    </div>
    <div *ngIf="!row.signed && !row.expired" class="status-wrapper">
      <span class="status-icon status-icon--waiting"></span>
      <span class="status-icon__text">Waiting for a signature</span>
    </div>
    <div *ngIf="row.expired" class="status-wrapper">
      <span class="status-icon status-icon--expired"></span>
      <span class="status-icon__text">Contract expired</span>
    </div>
  </td>
</tr>
<tr *ngIf="rowType === types.Buy || rowType === types.Sell">
  <td (click)="selectRow(row)">
    <span class="table-link-arrow">
      {{row.name}}
    </span>
  </td>
  <td>{{row.type}}</td>
  <td>{{row.price | tas}} TAS</td>
  <td *ngIf="rowType === types.Buy" class="table--right-aligned">
    <div class="action-wrapper">
      <a class="action action--color-1" (click)="openModalSubscription(row)">
        <span class="action__icon action--buy"></span>
      </a>
    </div>
  </td>
  <td *ngIf="rowType === types.Sell" nowrap class="table--right-aligned">
    <div class="action-wrapper">
      <a class="action action--color-1" (click)="openModalEdit(row)">
        <span class="action__icon action--edit"></span>
      </a>
      <a class="action action--color-2" (click)="openModalDelete(row)">
        <span class="action__icon action--delete"></span>
      </a>
    </div>
  </td>
</tr>
