<div class="app-sidebar">
   <nav class="nav-container"  [ngClass]="{'hideNav': toggledBar === false, 'showNav': toggledBar === true, 'animated': toggledBar === true}" mdl-shadow="6">
       <button class="btn-nav" (click)="toggleSideBar()">
           <div class="bar arrow-top-r"></div>
           <div class="bar arrow-middle-r"></div>
           <div class="bar arrow-bottom-r"></div>
       </button>
       <ul class="nav-list">
           <li class="list-item" routerLink="/dashboard/me" routerLinkActive="active">
                   <i class="material-icons md-dark">dashboard</i>
                   <br>
                   <span>Dashboard</span>
           </li>
           <li class="list-item" routerLink="/dashboard/sell/list" routerLinkActive="active" >
                   <i class="material-icons md-dark">file_upload</i>
                   <br>
                   <span>Sell</span>
           </li>
           <li class="list-item" routerLink="/dashboard/buy/map" routerLinkActive="active">
                 <i class="material-icons md-dark">file_download</i>
                 <br>
                 <span>Buy</span>
            </li>
           <li class="list-item" routerLink="/dashboard/contract/list" routerLinkActive="active">
                 <i class="material-icons md-dark">assignment</i>
                 <br>
                 <span>Smart Contract</span>
            </li>
           <li class="list-item" (click)="logout()" style="position:bottom">
                   <i class="material-icons md-dark">input</i>
                   <br>
                   <span>Logout</span>
           </li>
       </ul>
   </nav>
</div>
