<div class="tp-wrapper">
    <div class="tp-box" [@flipState]="flip">
      <!-- Front side -->
      <div class="front tp-box__side tp-box__front">
        <div class="box-grow" [ngClass]="{box: table.tableType !== types.Dashboard}" *ngIf="table.page.content.length">
          <div class="box__header">
            <p class="box__title">
              {{table.title}}
            </p>
            <form>
              <div class="form-search">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <img src="../../../assets/img/icons/search.svg" alt="">
                    </div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
                </div>
              </div>
            </form>
          </div>
          <div class="box__content">
            <div class="table-responsive table-scroll-vertical">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th scope="col" *ngFor="let header of table.headers">{{header}}</th>
                  </tr>
                </thead>
                <tbody>
                  <div *ngFor="let row of table.page.content">
                    <dpc-table-row #tableRow
                                   [row]="row"
                                   [rowType]="table.tableType"
                                   [rowMarked]="rowToMark"
                                   (mouseenter)="onHoveringRow(row)"
                                   (mouseleave)="onUnhoveringRow(row)"
                                   (rowSelected)="showRowDetails($event)"
                                   (deleteEvt)="rowDeleted($event)"
                                   (editEvt)="rowEdited($event)"
                                   (contractSigned)="onContractSigned($event)">
                    </dpc-table-row>
                  </div>
                </tbody>
              </table>
            </div>
            <dpc-table-pagination [page]="table.page.page" [limit]="table.page.limit" [total]="table.page.total" (pageChanged)="onPageChange($event)">
            </dpc-table-pagination>
          </div>
        </div>
        <!-- No content -->
        <div class="tp-box">
          <div class="front tp-box__side tp-box__front">
            <div class="box-grow" *ngIf="table.page.content && !table.page.content.length" [ngClass]="{box: table.tableType !== types.Dashboard}">
              <div class="text-center">
                <div *ngIf="table.tableType === types.Sell">
                  <!-- No my streams -->
                  <p class="lead no-content">
                    You haven't added any streams yet.
                  </p>
                </div>
                <div *ngIf="table.tableType === types.Buy">
                  <p class="lead no-content">There are currently no streams for you.</p>
                </div>
                <div *ngIf="table.tableType === types.Contract">
                  <p class="lead no-content">You have no contracts yet. Start buying and selling streams today!</p>
                </div>
                <div *ngIf="table.tableType === types.Dashboard">
                  <p class="lead no-content">There are currently no streams for you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Back side -->
      <dpc-table-row-details class="back tp-box__side tp-box__back" [stream]="selectedRow" [rowType]="table.tableType" (backClicked)="flip = 'inactive'" (deleteEvt)="rowDeleted($event)" (editEvt)="rowEdited($event)"></dpc-table-row-details>
    </div>
  </div>
