<div class="front" *ngIf="table.content && table.content.length" >
  <div class="box box-grow">
    <div class="box__header">
      <p class="box__title">
        {{table.title}}
      </p>
      <form>
        <div class="form-search">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <img src="../../../assets/img/icons/search.svg" alt="">
              </div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
          </div>
        </div>
      </form>
    </div>
    <div class="box__content">
      <div class="table-responsive table-scroll-vertical">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col" *ngFor="let header of table.headers">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let row of table.content">
              <dpc-table-row [rowType]="table.tableType" [row]="row"></dpc-table-row>
            </div>
          </tbody>
        </table>
      </div>
      <dpc-pagination></dpc-pagination>
    </div>
  </div>
</div>
