<!-- Create Access -->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="newAccessLabel">New Access</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalNewAccess.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form class="needs-validation" [formGroup]="form">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Receiver*</label>
          <div class="col-sm-5">
            <select formControlName="receiver" class="form-control selectpicker"
                    [ngClass]="{ 'is-invalid': submitted && form.controls.receiver.errors }">
              <option value="" disabled selected hidden>Select a Receiver</option>
              <option *ngFor="let user of users" [ngValue]="user">
                  {{ user.first_name }} {{ user.last_name }}
              </option>
            </select>
            <div *ngIf="submitted && form.controls.receiver.errors" class="invalid-feedback">
              <div *ngIf="form.controls.receiver.errors.required">Receiver is required.</div>
              <div *ngIf="form.controls.receiver.errors.ownerID">Receiver cannot be yourself.</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="onSubmit()" class="btn btn-primary btn-padding-lg btn-xs-full">Create Request</button>
  </div>
</div>
