config/crypto-config/*
chaincode/token/token
chaincode/token/vendor/*/**
docker/fabric/artifacts/**/**
!docker/fabric/artifacts/.gitkeep
fabric-ca-db
build
docker/*-data
datapace-service-kvs/
datapace-service-msp/
elasticsearch-data/
docker/expgdata/
docker/walletstore/
vendor/

# System Files
.DS_Store
Thumbs.db
