config/crypto-config/*
chaincode/token/token
chaincode/token/vendor/*/**
docker/fabric/artifacts/**/**
!docker/fabric/artifacts/.gitkeep
fabric-ca-db
/*.pb.go
build
data/

# System Files
.DS_Store
Thumbs.db
