<!-- Sign Contract -->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Execute Algorithm</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalExecute.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="box__content">
      <div class="row">
        <div class="col-sm-4 col-md-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="stream__title">
                Algorithm
              </div>
            </div>
            <div class="col-sm-6">
              <div class="stream__title">
                Datasets
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div *ngFor="let algo of algos">
                <div class="stream__text">
                  {{ algo.name }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div *ngFor="let stream of streams">
                <div class="stream__text">
                  {{ stream.name }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="stream__title">
                Execution mode
              </div>
            </div>
            <div class="col-sm-6">
              <select (change)="selectMode($event.target.value)"
                      [(ngModel)]="selected">
                <option value="federated">federated</option>
                <option value="centralized">centralized</option>
                <option value="distributed">distributed</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Are you sure?</p>
    <button type="button" class="btn btn-primary" (click)="execute()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="modalExecute.hide()">No</button>
  </div>
</div>
