<div class="box__header">
  <p class="box__title">
    Change Password
  </p>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="firstName" class="col-sm-3 col-form-label">Current Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" formControlName="old_password"
           [ngClass]="{ 'is-invalid': submitted && form.controls.old_password.errors }"/>
        <div *ngIf="submitted && form.controls.old_password.errors" class="invalid-feedback">
          <div *ngIf="submitted && form.controls.old_password.errors.required">Old password is required.</div>
          <div *ngIf="submitted && form.controls.old_password.errors.minlength">The minimum length is 8 characters.</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-3 col-form-label">New Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" formControlName="new_password"
               [ngClass]="{ 'is-invalid': submitted && form.controls.new_password.errors }"/>
        <div *ngIf="submitted && form.controls.new_password.errors" class="invalid-feedback">
          <div *ngIf="submitted && form.controls.new_password.errors.required">New password is required.</div>
          <div *ngIf="submitted && form.controls.new_password.errors.minlength">The minimum length is 8 characters.</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-3 col-form-label">Repeat New Password</label>
      <div class="col-sm-9">
          <input type="password" class="form-control" formControlName="re_password"
               [ngClass]="{ 'is-invalid': submitted && form.controls.re_password.errors }"/>
          <div *ngIf="submitted && form.controls.re_password.errors" class="invalid-feedback">
            <div *ngIf="submitted && form.controls.re_password.errors">Password mismatch.</div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-padding-lg btn-xs-full">Change</button>
      </div>
    </form>
  </div>
</div>
