<!-- Add Stream -->
<div class="modal-header">
  <h5 class="modal-title">Terms & Conditions</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddStream.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
			<div style="max-height: 350px; overflow: auto;">
				Disclaimer related to the access and use of the Nokia Data Marketplace Platform and related services
				<b>IN ORDER TO BE GRANTED ACCESS TO THE DATA MARKETPLACE PLATFORM, YOU (“USER”) MUST ACKNOWLEDGE THE FOLLOWING:</b>
				THE PLATFORM IS SOLELY INTENDED FOR STANDARD TESTING PURPOSES AND MUST NOT BE USED IN OR FOR ANY HAZARDOUS ENVIRONMENTS
				REQUIRING FAIL-SAFE PERFORMANCE, SUCH AS, BUT NOT LIMITED TO, AIRCRAFT NAVIGATION OR COMMUNICATION SYSTEMS, AIR TRAFFIC
				CONTROL, IN THE OPERATION OF NUCLEAR FACILITIES, DIRECT LIFE SUPPORT MACHINES, OR DEFENSE SYSTEMS, IN WHICH THE FAILURE
				OF PRODUCTS COULD LEAD DIRECTLY TO DEATH, PERSONAL INJURY, OR SEVERE PHYSICAL OR ENVIRONMENTAL DAMAGE. THE PLATFORM MUST
				NOT BE USED FOR UNAUTHORIZED, OBSCENE, OFFENSIVE, FRAUDULENT OR OTHER UNLAWFUL PURPOSES. ANY EXCHANGE OF DATA
				FACILITATED BY THE PLATFORM IS INTENDED FOR PURELY TESTING AND DEMONSTRATION PURPOSES, AND COMMERCIAL USE OF THE
				PLATFORM FOR THE FINANCIAL BENEFIT OF A PARTY IS STRICTLY PROHIBITED.
				NOKIA EXPLICITLY DISCLAIMS ANY LIABILITY FOR WHATEVER REASON UNDER WHATEVER LEGAL DOCTRINE FOR ANY NON-STANDARD OR
				COMMERCIAL USE, ANY INFRINGEMENT OF THE RESTRICTIONS STATED ABOVE AND ANY DATA ENTERED INTO OR TRANSACTED USING THE
				PLATFORM BY USER.
				ANY NON-STANDARD OR COMMERCIAL USE NOT EXPLICILTY AGREED BY NOKIA IN WRITING OR ANY INFRINGEMENT OF THE RESTRICTIONS
				ABOVE WILL ENTITLE NOKIA TO IMMEDIATELY REVOKE, LIMIT OR BLOCK ACCESS TO THE PLATFORM WITHOUT PRIOR NOTICE AND WITHOUT
				ANY LIABILITY FOR NOKIA.
				USER SHALL NOT ACCESS THE PLATFORM BY ANY OTHER MEANS THAN THE STANDARD PORTAL USING VALID CREDENTIALS PROVIDED TO IT BY
				AN AUTHORISED PARTY, AND SHALL NOT MODIFY THE SOFTWARE IMPLEMENTING THE PLATFORM IN ANY MANNER OR FORM, OR USE MODIFIED
				VERSIONS OF SUCH SOFTWARE FOR ANY PUROSES, INCLUDING OBTAINING UNAUTHORISED ACCESS TO THE PLATFORM.
				THE PLATFORM MAY INCLUDE SECURITY TECHNOLOGY THAT LIMITS THE USE OF THE SERVICES AND ANY ACTION TO VIOLATE, CIRCUMVENT,
				REVERSE-ENGINEER, DECOMPILE, DISASSEMBLE OR OTHERWISE TAMPER WITH ANY OF SUCH SECURITY TECHNOLOGY FOR ANY REASON, OR TO
				ATTEMPT OR TO ASSIST ANOTHER PERSON TO DO SO IS PROHIBITED.
				USER SHALL NOT VIOLATE, CIRCUMVENT, REVERSE-ENGINEER, DECOMPILE, DISASSEMBLE OR OTHERWISE TAMPER WITH ANY OF THE
				SECURITY TECHNOLOGY RELATED TO THE PLATFORM FOR ANY REASON, OR TO ATTEMPT TO ASSIST ANOTHER PERSON TO DO SO.
				COMPLIANCE WITH THESE TERMS OF USE MAY BE CONTROLLED AND MONITORED BY NOKIA.
			</div>
		</div>
	</div>

	<div class="modal-footer text-right">
			<button class="btn btn-primary btn-padding-lg btn-xs-full" (click)="closeModal()" >Close</button>
	</div>
