<div class="mdl-grid animated fadeIn">
  <div *ngIf="isDataAvailable" class="subscription-add-container" mdl-shadow="2">
    <div class="mdl-cell mdl-cell--12-col">
      <h4>{{stream.name}} - {{stream.type}}
              <a routerLink="/dashboard" class="mdl-button mdl-js-button  mdl-button--colored pull-right">
                  <i class="material-icons md-dark">close</i>
              </a>
          </h4>
      <hr>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="description-container">
        {{stream.description}}
      </div>
      <h4>PRICE: {{stream.price | tas}} TAS PER HOUR</h4>
    </div>
    <form class="" [formGroup]="form">
      <div class="mdl-cell mdl-cell--6-col">
        <mdl-textfield label="Subscription Hours" name="hours" type="number" formControlName="hours" [error-msg]="'Please provide a number of hours you want to subscribe!'" floating-label>
        </mdl-textfield>
      </div>
      <div class="laoding-container text-center">
        <p *ngIf="message!==''"><strong>{{message}}</strong></p>
        <p *ngIf="showLoading"><strong>Processing...</strong></p>
        <mdl-spinner [active]="showLoading"></mdl-spinner>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        <h4>SUBSCIPTION CHARGE: {{((stream.price * form.value.hours) | tas)}} TAS</h4>
      </div>
      <p>
        <a [routerLink]="['/dashboard']" mdl-button mdl-button-type="raised" mdl-ripple>
                      CANCEL
                  </a>
        <button (click)="onSubmit(form.value, form.valid)" [disabled]="!form.valid" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                      BUY
                  </button>
      </p>
    </form>
  </div>
</div>
