.dashboard-ai-add-container {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 15px;

    form {
        padding: 10px;
    }
    .form-full-width-filds .mdl-textfield {
        width: 100% !important;
    }
}
