<!-- Left card -->
<div class="mdl-grid wallet-container">
<mdl-card class="dashboard-card card-balance  mdl-card mdl-background--card mdl-cell mdl-cell--12-col mdl-cell--12-desktop" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
        <h5>WALLET</h5>
    </mdl-card-title>
    <div class="mdl-grid column-container">

    <div class="mdl-cell mdl-cell--6-col cell-balance text-center">
            <h1>
                <mdl-icon>account_balance_wallet</mdl-icon>
                {{user.balance | tas}} TAS
            </h1>
        <mdl-card-supporting-text>
            Current Balance of your tokens
        </mdl-card-supporting-text>
    </div>
    <div class="mdl-cell mdl-cell--6-col text-center">
        <p>
            <a (click)="onBuyTokensClick()" class="wallet-btn-add mdl-button mdl-js-button mdl-button--accent">
                <mdl-icon>account_balance_add</mdl-icon>BUY TAS
            </a>
        </p>
        <mdl-card-supporting-text>
            You can buy more tokens.
        </mdl-card-supporting-text>
    </div>
</div>
</mdl-card>
</div>
