<div class="page-wrapper animated fadeIn">
  <div class="page-header">
    <div class="page-header-xs--map">
      <h1 class="page-title">
          Sell stream
        </h1>
      <div class="page-header-xs--right">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input form-control-lg" id="showMap">
          <label class="form-check-label" for="showMap">Show Map</label>
        </div>
      </div>
    </div>
    <div class="action-buttons">
      <p class="action-buttons__item">
        <button type="button" class="btn btn-primary btn-media" (click)="openModalAdd()">
            <span class="btn-media__icon btn-media__icon--add">
            </span>
            Add manually
          </button>
      </p>
      <p class="action-buttons__item">
        <label class="btn btn-primary btn-media">
              <input type="file" (change)="onFileChange($event)" style="display:none" accept=".csv, .json|application/json, text/csv">
              <span class="btn-media__icon btn-media__icon--upload">
              </span>
              Upload Streams
          </label>
      </p>
      <p class="action-buttons__item">
        <button type="button" class="btn btn-primary btn-media" (click)="downloadAllCsv()">
            <span class="btn-media__icon btn-media__icon--add">
            </span>
          Export All CSV
        </button>
      </p>
    </div>
  </div>

  <div class="row row-grow">
    <div class="col-lg-6 order-2 order-sm-1 d-none d-sm-block">
      <div class="box box-grow">
        <div class="box__header">
          <p class="box__title">
            Your streams
          </p>
        </div>
        <dpc-map-leaflet #map [streamList]="table.page.content"
                         (hoverMarker)="onHoverMarker($event)">
        </dpc-map-leaflet>
      </div>
    </div>
    <div class="col-lg-6 order-1 order-sm-2">
      <dpc-table #tableComponent
                 [table]="table"
                 (pageChanged)="onPageChange($event)"
                 (editEvt)="editStream($event)"
                 (deleteEvt)="deleteStream($event)"
                 (hoverRow)="onHoverRow($event)"
                 (unhoverRow)="onUnhoverRow($event)">
      </dpc-table>
    </div>
  </div>
</div>
<!-- Sidebar filters -->
<dpc-sidebar-filters (filtersUpdate)="onFiltersChange($event)"></dpc-sidebar-filters>
