<div class="wrapper">
  <div class="logo"></div>
  <div class="box">
    <p class="box__title">
      Sign In
        <span *ngIf="errorMsg" class="error-message text-center">{{errorMsg}}</span>
    </p>
    <form  [formGroup]="form" class="needs-validation" novalidate>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email"
            formControlName="email"
            class="form-control"
            id="staticEmail"
            error-msg="Please provide a valid email!"
            (focus)="errorMsg=null"
            placeholder="Enter email" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
            formControlName="password"
            class="form-control"
            id="inputPassword"
            placeholder="**********"
            disableNativeValidityChecking
            error-msg="'Please provide a correct password!'"
            (focus)="errorMsg=null"
            required>
        </div>
      </div>
      <p class="box__forgot">
        <a href="forgot-password.html" class="box__forgot-link">
            Forgot your password?
        </a>
      </p>
      <button (click)="onSubmit(form.value, form.valid)"  class="btn btn-block btn-primary">Sign In</button>
    </form>
    <p class="box__action">
      Don't have an account? <a routerLink="/signup" class="box__action-link">Signup</a>
    </p>
  </div>
</div>
