<!-- Create Contract -->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="newContractLabel">New contract</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalNewContract.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form class="needs-validation" [formGroup]="form" novalidate>
        <div class="form-group row">
          <label for="streamName" class="col-sm-4 col-form-label">Stream*</label>
          <div class="col-sm-8">
            <select formControlName="streamName" class="form-control selectpicker">
              <option *ngFor="let stream of streamsName">
                  {{stream}}
              </option>
              <option value="" disabled selected hidden>Select your Stream</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="parties" class="col-sm-4 col-form-label">Partner ID*</label>
          <div class="col-sm-8">
            <input type="text" formControlName="parties" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.controls.parties.errors }">
            <div *ngIf="submitted && form.controls.parties.errors" class="invalid-feedback">
              <div *ngIf="form.controls.parties.errors.required">Partner ID is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="shareOffered" class="col-sm-4 col-form-label">Share offered*</label>
          <div class="col-sm-8">
            <input type="number" [min]="1" [max]="99" formControlName="shareOffered" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.controls.shareOffered.errors }">
            <div *ngIf="submitted && form.controls.shareOffered.errors" class="invalid-feedback">
              <div *ngIf="form.controls.shareOffered.errors.required">Share offered is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="endTime" class="col-sm-4 col-form-label">Expiriation date*</label>
          <div class="col-sm-8">
            <input type="date" [min]="minDate" formControlName="endTime" class="form-control datepicker"
                   [ngClass]="{ 'is-invalid': submitted && form.controls.endTime.errors }">
            <div *ngIf="submitted && form.controls.endTime.errors" class="invalid-feedback">
              <div *ngIf="form.controls.endTime.errors.required">Expiriation date is required.</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="onSubmit()" class="btn btn-primary btn-padding-lg btn-xs-full">Create contact</button>
  </div>
</div>
