<div>
  <h3 class="mdl-dialog__title"><small>RATIO:</small> 1$ = 1 TAS</h3>
  <div class="mdl-dialog__content">
    <mdl-textfield class="input" type="number" min="1" max="10000"
                   step="0.0000001" label="TOKEN AMOUNT" placeholder=""
                   [(ngModel)]="paymentAmount" floating-label autofocus>
    </mdl-textfield>
    <br/>
  </div>
  <div class="laoding-container text-center">
      <p *ngIf="showLoading"><strong>Processing...</strong></p>
      <mdl-spinner [active]="showLoading"></mdl-spinner>
  </div>
  <div style="text-align:center" id="paypal-button"></div>
</div>
