<div class="mdl-grid animated fadeIn contracts-container-table">
  <h4 class="mdl-cell mdl-cell--10-col">SMART CONTRACTS</h4>
  <div class="mdl-cell mdl-cell--2-col">
    <a routerLink="/dashboard/contract/add" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right">
      <mdl-icon class="material-icons">add</mdl-icon>
      ADD CONTRACT
    </a>
  </div>

  <!-- Left column -->
  <div class="mdl-cell mdl-cell--6-col contracts-container-section">
    <div class="table-search" mdl-shadow="2">
      <mdl-textfield class="search-input" type='text' autofocus label='Type your search...' (keyup)='updateMyStreams($event)' autocomplete="name">
      </mdl-textfield>
    </div>
  </div>

  <!-- Right column -->
  <div class="dashboard-card card-welcome mdl-paper mdl-paper--1 mdl-cell mdl-cell--6-col mdl-cell--6-desktop mdl-shadow--2dp mdl-card">
    <!-- <dashboard-contracts-empty-list *ngIf="myContractsList?.length < 1"></dashboard-contracts-empty-list> -->
    <dashboard-contracts-empty-list *ngIf="selectedContract?.length < 1"></dashboard-contracts-empty-list>
    <dashboard-contracts-details *ngIf="selectedContract?.length > 0" [selectedContract]="selectedContract[0]"></dashboard-contracts-details>
  </div>
</div>
