<div class="mdl-grid animated fadeIn contracts-container-table">
  <h4 class="mdl-cell mdl-cell--10-col">SMART CONTRACTS</h4>
  <div class="mdl-cell mdl-cell--2-col">
    <a routerLink="/dashboard/contract/add" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right">
      <mdl-icon class="material-icons">add</mdl-icon>
      ADD CONTRACT
    </a>
  </div>

  <!-- Left column -->
  <div class="mdl-cell mdl-cell--6-col contracts-container-section">
    <div class="table-search" mdl-shadow="2">
      <mdl-textfield class="search-input" type='text' autofocus label='Type your search...' (keyup)='updateMyStreams($event)' autocomplete="name">
      </mdl-textfield>
    </div>

    <ngx-datatable #table class='material' [columns]="tableColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20" [selected]="selectedContract" [selectionType]="'single'" [messages]="tableMessages" [rows]='myContractsList'>
      <ngx-datatable-column name="Stream">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.stream.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tokens per hour">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.stream.price | tas}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Share offered">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.share }} %
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Exparation Date">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.exparationDate | date: 'MMM d, y'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <i *ngIf="row.signed && !row.expiered" class="material-icons" title="Signed">lock</i>
          <i *ngIf="!row.signed && !row.expiered" class="material-icons" title="Waiting for a signature">lock_open</i>
          <i *ngIf="row.expiered" class="material-icons" title="Contract Expiered">error_outline</i>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>

  <!-- Right column -->
  <div class="dashboard-card card-welcome mdl-paper mdl-paper--1 mdl-cell mdl-cell--6-col mdl-cell--6-desktop mdl-shadow--2dp mdl-card">
    <!-- <dashboard-contracts-empty-list *ngIf="myContractsList?.length < 1"></dashboard-contracts-empty-list> -->
    <dashboard-contracts-empty-list *ngIf="selectedContract?.length < 1"></dashboard-contracts-empty-list>
    <dashboard-contracts-details *ngIf="selectedContract?.length > 0" [selectedContract]="selectedContract[0]"></dashboard-contracts-details>
  </div>
</div>
