<div class="box__header">
  <p class="box__title">
    Personal information
  </p>
</div>
<div class="box__content">
  <form>
    <div class="form-group row">
      <label for="firstName" class="col-sm-3 col-form-label">First name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="firstName" value="John">
        </div>
      </div>
      <div class="form-group row">
        <label for="firstName" class="col-sm-3 col-form-label">Second name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="secondName" value="Smith">
        </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">E-mail Address</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="staticEmail" value="john@smith.com">
        </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-padding-lg btn-xs-full">Update</button>
          </div>
  </form>
</div>
