<div class="modal-header">
  <h5 class="modal-title" id="modalBuyStreamLabel">{{ stream.name }} - {{ stream.type }}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalSubscription.hide()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="modal-section-border">
      <div class="row">
        <div class="col-3">
          <div class="modal__subtitle">
            Tokens per hour
          </div>
        </div>
        <div class="col-9">
          <div class="modal__ratio">
            {{stream.price | dpc}} DPC
          </div>
        </div>
      </div>
      <form [formGroup]="form">
        <div class="form-group row">
          <label class="col-sm-9 col-form-label">Subscription hours*</label>
          <div class="col-sm-3">
            <input type="text" formControlName="hours" class="form-control subscribe-dpc"
                   [ngClass]="{ 'is-invalid': submitted && form.controls.hours.errors }" />
            <div *ngIf="submitted && form.controls.hours.errors" class="invalid-feedback">
              <div *ngIf="form.controls.hours.errors.required">You must subscribe for at least one hour.</div>
              <div *ngIf="form.controls.hours.errors.insufficientFunds">You have insufficient funds.</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-3 col-sm-5">
        <div class="modal__subtitle">
          Subscription charge
        </div>
      </div>
      <div class="col-9 col-sm-7">
        <div class="modal__summary">
          {{((stream.price * form.value.hours) | dpc)}} DPC
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
         By clicking buy stream you sign and agree  <a target="_blank" href="{{stream.terms}}" rel="nofollow noopener">on the license agreement.</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" (click)="onSubmit()" class="btn btn-primary btn-padding-lg">Buy Stream</button>
</div>
