<div class="singup-container animated fadeIn" mdl-shadow="6">
    <div *ngIf="errorMsg" class="text-center">
        <span class="error-message ">{{errorMsg}}</span>
    </div>
    <form [formGroup]="form">
      <p>
        <mdl-textfield
            label="Email"
            name="email"
            type="text"
            formControlName="email"
            floating-label
            pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
            error-msg="Please provide a valid email!"
            (focus)="errorMsg=null">
        </mdl-textfield>
      </p>
      <p>
        <mdl-textfield
            label="Password"
            name="password"
            type="password"
            formControlName="password"
            disableNativeValidityChecking
            [error-msg]="'Please provide a correct password (min length is 5 chars)!'"
            floating-label>
        </mdl-textfield>
      <p>
        <mdl-textfield
            label="First Name (optional)"
            name="first_name"
            type="text"
            formControlName="first_name"
            floating-label>
        </mdl-textfield>
      </p>
      <p>
        <mdl-textfield
            label="Last Name (optional)"
            name="last_name"
            type="text"
            formControlName="last_name"
            floating-label>
        </mdl-textfield>
      </p>
        <p>
            <button mdl-button (click)="onSubmit(form.value, form.valid)"  [disabled]="!form.valid" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>SIGNUP</button>
        </p>
        <br>
        <p class="text-center">
            <span>Do you have an account ? <a routerLink="/login">Login</a></span>
        </p>
    </form>
</div>
