<div class="page-wrapper animated fadeIn">
  <div class="page-header">
    <h1 class="page-title">
        Admin
    </h1>
    <div class="action-buttons">
      <p class="action-buttons__item">
        <button type="button" class="btn btn-primary btn-media" (click)="openModalSignup()">
            <span class="btn-media__icon btn-media__icon--add">
            </span>
            Create User
          </button>
      </p>
    </div>
  </div>

  <div class="row row-grow">
    <div class="col-lg-12 order-1 order-sm-2">
      <dpc-table #tableComponent
                 [table]="table"
                 (pageChanged)="onPageChange($event)"
                 (editEvt)="editUser($event)"
                 (deleteEvt)="deleteUser($event)"
                 (lockEvt)="lockUser($event)"
                 (hoverRow)="onHoverRow($event)"
                 (unhoverRow)="onUnhoverRow($event)">
      </dpc-table>
    </div>
  </div>
</div>
