.ng-progress {
  // host element
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999 !important;
  background: rgba(255, 255, 255, 0.8);
}

.ng-progress-bar {
  // bar wrapper
}

.ng-bar-placeholder {
  // bar placeholder (transparent by default)
}

.ng-bar {
  // the actual bar that translates with when the progress increments
}

.ng-progress {
  .spinner { // Spinner wrapper
    top: 35% !important;
    left: 50% !important;
    position: fixed;
    .spinner-icon {
      // The actual spinner where defines the radius size and animation
      width: 30px;
      height: 30px;
    }
  }
}
