<div class="box" *ngIf="row">
  <div class="box__header">
    <p class="box__title">
      <span (click)="close()" class="box__title-link box__title--arrow-left js-flip-card-close">
        {{row.name}}
      </span>
    </p>
    <!-- Action buttons -->
    <div *ngIf="rowType === types.Sell" class="box__buttons">
      <a [routerLink]="" (click)="openModalEdit()" class="action action--color-1">
        <span class="action__icon action--edit"></span>
      </a>
      <a [routerLink]="" (click)="openModalDelete()" class="action action--color-2">
        <span class="action__icon action--delete"></span>
      </a>
    </div>
    <!-- Buy button -->
    <div *ngIf="rowType === types.Buy" class="box__buttons">
      <a [routerLink]="" class="action action--color-1" (click)="openModalSubscription()">
        <span class="action__icon action--buy"></span>
      </a>
    </div>
  </div>
  <!-- Details -->
  <div *ngIf="rowType !== types.Executions" class="box__content">
    <div class="row">
      <div class="col-sm-4 col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="stream__title">
              Stream Type
            </div>
            <div class="stream__text">
              {{row.type}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="stream__title">
              Tokens per hour
            </div>
            <div class="stream__text">
              {{row.price | tas}} TAS
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="stream__title">
              Description
            </div>
            <div class="stream__text">
              {{row.description}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="stream__title">
              Latitude, Longitude
            </div>
            <div class="stream__text" *ngIf="row && row.location && row.location.coordinates">
              {{row.location.coordinates[1]}}, {{row.location.coordinates[0]}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-12">
        <div class="stream-data">
          <div class="stream-data__title">
            Example reading(s)
          </div>
          <div class="stream-data__text">
            <pre class="stream-data__pre">{{row.snippet}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Executions Details -->
  <div *ngIf="rowType === types.Executions" class="box__content">
    <div class="row">
      <div class="col-sm-4 col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="stream__title">
              ID
            </div>
            <div class="stream__text">
              {{row.id}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="stream__title">
              Algorithm
            </div>
            <div class="stream__text">
              {{row.algo}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="stream__title">
              Dataset
            </div>
            <div class="stream__text">
              {{row.data}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="stream__title">
              Mode
            </div>
            <div class="stream__text">
              {{row.mode}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-12">
        <div class="stream-data">
          <div class="stream-data__title">
            Example reading(s)
          </div>
          <div class="stream-data__text">
            <pre class="stream-data__pre">{{row.snippet}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
