<a (click)="_toggleSidebar()" class="offcanvas-trigger c-button" [ngClass]="{'is-filter-active': _opened, 'is-active': _opened}" id="triggerButton" role="button" aria-controls="off-canvas-id" aria-expanded="false">
    <span class="c-button__text">
      Filter
    </span>
</a>
<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" sidebarClass="filters-sidebar" keyClose="true">
    <!-- Page content -->
    <div ng-sidebar-content>
      <div class="filters">
        <div class="filters__header">
          <p class="filters__title">
            Filter
          </p>
          <a (click)="_toggleSidebar()" class="btn-close filters__close"></a>
        </div>
        <div class="filters__content">
          <form [formGroup]="form" novalidate>
            <div class="form-group">
              <label for="stream_name" class="form-label">Name</label>
              <input type="text" formControlName="name" id="stream_name" name="stream_name" value="" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="stream_city" class="form-label">City</label>
              <ngx-select [items]="mockCities" [formControl]="selectCityControl" [allowClear]="true" [optionValueField]="name" name="stream_city"></ngx-select>
            </div>
            <div class="form-group">
              <label for="stream_type" class="form-label">Type</label>
              <input type="text" formControlName="streamType" id="stream_type" name="stream_type" value="" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="price_range" class="form-label">Min price</label>
              <input type="number" formControlName="minPrice" min="0" max="1000000" step="0.1" id="price_range" name="price_range" value="" class="range-slider-price" />
            </div>
            <div class="form-group">
              <label for="periodicity" class="form-label">Max price</label>
              <input type="number" formControlName="maxPrice"  min="0" max="1000000" step="0.1"  id="periodicity" name="periodicity" value="" class="range-slider-periodicity" />
            </div>
            <!-- <div class="form-group">
              <label for="" class="form-label">Certified</label>
              <div class="form-buttons-radio">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn active">
                <input type="radio" name="certified" id="certified_yes" autocomplete="off" checked> Yes
              </label>
                  <label class="btn">
                <input type="radio" name="certified" id="certified_no" autocomplete="off"> No
              </label>
                </div>
              </div>
            </div> -->
            <button type="button" (click)="onSubmit(form.value, form.valid)" class="btn btn-block btn-primary">
          Apply Filters
        </button>
            <button type="button" (click)="onClear()" class="btn btn-block btn-outline-secondary">
          Clear Filters
        </button>
          </form>
        </div>
      </div>
    </div>
  </ng-sidebar>
</ng-sidebar-container>
