<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item page-item-prev" [ngClass]="page === 0 ? 'disabled' : ''">
      <a class="page-link" tabindex="-1" (click)="pageChange(page + 1)">
        Previous
      </a>
    </li>
    <li *ngFor="let p of pages" class="page-item" [ngClass]="p === page+1 ? 'active' : ''">
      <a class="page-link" (click)="pageChange(p)">{{p}}</a>
    </li>
    <li class="page-item page-item-next" [ngClass]="last ? 'disabled' : ''">
      <a class="page-link" (click)="pageChange(page + 1)">
        Next
      </a>
    </li>
  </ul>
</nav>
