<div class="mdl-grid animated fadeIn">
    <div class="dashboard-sell-add-container" mdl-shadow="4">
        <h4 class="mdl-cell mdl-cell--12-col">NEW STREAM
              <a routerLink="/dashboard/sell/map" class="mdl-button mdl-js-button  mdl-button--colored pull-right">
                  <i class="material-icons md-dark">close</i>
              </a>
        </h4>
        <div class="mdl-cell mdl-cell--12-col">
            <form class="form-full-width-filds" [formGroup]="form">
              <p>
                <mdl-textfield
                    label="Name (required)"
                    name="name"
                    type="text"
                    formControlName="name"
                    floating-label
                    error-msg="Stream name is required!">
                </mdl-textfield>
              </p>
              <p>
                  <mdl-textfield
                  label="Stream Type"
                  name="type"
                  type="text"
                  formControlName="type"
                  [error-msg]="'Please provide a type of your stream (example: sensor)!'"
                  floating-label>
              </mdl-textfield>
          </p>
              <p>
                <mdl-textfield
                    label="Describe your stream (required)"
                    name="description"
                    type="text"
                    formControlName="description"
                    disableNativeValidityChecking
                    [error-msg]="'Please provide a description (min length is 20 chars)!'"
                    floating-label>
                </mdl-textfield>
              <p>
                <mdl-textfield
                    label="Stream URL (visible only to users who buy your stream, required)"
                    name="url"
                    type="text"
                    formControlName="url"
                    [error-msg]="'Please provide a  your stream URL!'"
                    floating-label>
                </mdl-textfield>
              </p>
              <p>
                <mdl-textfield
                    label="Token per hour (required)"
                    name="price"
                    type="float"
                    formControlName="price"
                    [error-msg]="'Please provide stream price per hour!'"
                    floating-label>
                </mdl-textfield>
                <mdl-textfield
                    label="Latitude of the sensor (required)"
                    name="latitude"
                    type="float"
                    formControlName="lat"
                    [error-msg]="'Please provide the latitude price per hour!'"
                    floating-label>
                </mdl-textfield>
                <mdl-textfield
                    label="Longitude  of sensor (required)"
                    name="longitude"
                    type="float"
                    formControlName="long"
                    [error-msg]="'Please provide longitude price per hour!'"
                    floating-label>
                </mdl-textfield>
              </p>
                <p>
                  <a routerLink="/dashboard/sell/map" mdl-button mdl-button-type="raised" mdl-ripple>
                      CANCEL
                  </a>
                    <button mdl-button (click)="onSubmit(form.value, form.valid)"  [disabled]="!form.valid" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>ADD STREAM</button>
                </p>
                <br>
                <p class="text-center">
                    <strong>DISCLAIMER: </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </form>
        </div>
    </div>
</div>
