<!-- Add Stream -->
<div class="modal-header">
  <h5 class="modal-title">New Stream</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddStream.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Visibility*</label>
        <div class="col-sm-8">
          <select formControlName="visibility" class="form-control selectpicker"
                  [ngClass]="{ 'is-invalid': submitted && form.controls.visibility.errors }">
            <option> public </option>
            <option> protected </option>
            <option> private </option>
          </select>
          <div *ngIf="submitted && form.controls.visibility.errors" class="invalid-feedback">
            <div *ngIf="form.controls.visibility.errors.required">Visibility is required.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Name*</label>
        <div class="col-sm-8">
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }" />
          <div *ngIf="submitted && form.controls.name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.name.errors.required">Name is required.</div>
            <div *ngIf="form.controls.name.errors.maxlength">The maximum length is 32 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Type*</label>
        <div class="col-sm-8">
          <input type="text" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.type.errors }" />
          <div *ngIf="submitted && form.controls.type.errors" class="invalid-feedback">
            <div *ngIf="form.controls.type.errors.required">Type is required.</div>
            <div *ngIf="form.controls.type.errors.maxlength">The maximum length is 32 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Describe your stream*</label>
        <div class="col-sm-8">
          <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.description.errors }"></textarea>
          <div *ngIf="submitted && form.controls.description.errors" class="invalid-feedback">
            <div *ngIf="form.controls.description.errors.required">Description is required.</div>
            <div *ngIf="form.controls.description.errors.maxlength">The maximum length is 256 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Your stream snippet*</label>
        <div class="col-sm-8">
          <textarea type="text" formControlName="snippet" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.snippet.errors }"></textarea>
          <div *ngIf="submitted && form.controls.snippet.erors" class="invalid-feedback">
            <div *ngIf="form.controls.snippet.errors.maxlength">The maximum length is 256 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Stream URL*</label>
        <div class="col-sm-8">
          <input type="text" formControlName="url" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.url.errors }" />
          <div *ngIf="submitted && form.controls.url.errors" class="invalid-feedback">
            <div *ngIf="form.controls.url.errors.required">URL is required.</div>
            <div *ngIf="form.controls.url.errors.maxlength">The maximum length is 2048 characters.</div>
            <div *ngIf="form.controls.url.errors.pattern">Invalid URL.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tokens per hour*</label>
        <div class="col-sm-8">
          <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.price.errors }" />
          <div *ngIf="submitted && form.controls.price.errors" class="invalid-feedback">
            <div *ngIf="form.controls.price.errors.required">Price is required.</div>
            <div *ngIf="form.controls.price.errors.pattern">Price must be between 0.00000001 and 1000 DPC.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Latitude of the sensor*</label>
        <div class="col-sm-8">
          <input formControlName="lat" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.lat.errors }">
          <div *ngIf="submitted && form.controls.lat.errors" class="invalid-feedback">
            <div *ngIf="form.controls.lat.errors.required">Latitude is required.</div>
            <div *ngIf="form.controls.lat.errors.pattern">Longitude must be a number with an accuracy of maximum 7
              decimals.</div>
            <div *ngIf="form.controls.lat.errors.min || form.controls.lat.errors.max">Latitude value must be between
              -90 and 90.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Longitude of the sensor*</label>
        <div class="col-sm-8">
          <input formControlName="long" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.long.errors }">
          <div *ngIf="submitted && form.controls.long.errors" class="invalid-feedback">
            <div *ngIf="form.controls.long.errors.required">Longitude is required.</div>
            <div *ngIf="form.controls.long.errors.pattern">Longitude must be a number with an accuracy of maximum 7
              decimals.</div>
            <div *ngIf="form.controls.long.errors.min || form.controls.long.errors.max">Longitude value must be between
              -180 and 180.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Terms URL*</label>
        <div class="col-sm-8">
          <input type="text" formControlName="terms" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.terms.errors }" />
          <div *ngIf="submitted && form.controls.terms.errors" class="invalid-feedback">
            <div *ngIf="form.controls.terms.errors.required">Terms URL is required.</div>
            <div *ngIf="form.controls.terms.errors.maxlength">The maximum length is 2048 characters.</div>
            <div *ngIf="form.controls.terms.errors.pattern">Invalid URL.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Big Query</label>
        <div class="col-sm-8">
          <ui-switch (click)="changeExt($event)" [disabled]="!bqMail"></ui-switch>
          <div *ngIf="!bqMail && bqTouched" class="alert alert-warning">
            You need to have a Gmail account as your main or contact email address in order to use Big Query.
          </div>
        </div>
      </div>
      <div *ngIf="bqTouched" class="form-group">
        <div class="form-group row">
          <label for="project" class="col-sm-4 col-form-label">Project</label>
          <div class="col-sm-8">
            <input formControlName="project" type="text" class="form-control" id="project" [ngClass]="{ 'is-invalid': submitted && form.controls.project.errors }">
            <div *ngIf="submitted && form.controls.project.errors" class="invalid-feedback">
              <div *ngIf="form.controls.project.errors.required">Project is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="dataset" class="col-sm-4 col-form-label">Dataset</label>
          <div class="col-sm-8">
            <input formControlName="dataset" type="text" class="form-control" id="dataset" [ngClass]="{ 'is-invalid': submitted && form.controls.dataset.errors }">
            <div *ngIf="submitted && form.controls.dataset.errors" class="invalid-feedback">
              <div>Dataset is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="table" class="col-sm-4 col-form-label">Table</label>
          <div class="col-sm-8">
            <input formControlName="table" type="text" class="form-control" id="table" [ngClass]="{ 'is-invalid': submitted && form.controls.table.errors }">
            <div *ngIf="submitted && form.controls.table.errors" class="invalid-feedback">
              <div>Table is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="fields" class="col-sm-4 col-form-label">Select fields</label>
          <div class="col-sm-8">
            <input formControlName="fields" type="text" class="form-control" id="fields" [ngClass]="{ 'is-invalid': submitted && form.controls.fields.errors }">
            <div *ngIf="submitted && form.controls.fields.errors" class="invalid-feedback">
              <div *ngIf="form.controls.fields.errors.required">Fields are required.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer__nav">
          <div class="modal__required">* required fields</div>
          <button class="btn btn-primary btn-padding-lg btn-xs-full">Add stream</button>
        </div>
      </div>
    </form>
  </div>
</div>
