.stream-sell-container {
    .table-search {
        width: 100%;
        text-align: left;
        margin: 0px auto;
        .search-input {
            width: 50%;
        }
    }
    .empty-row {
        text-align: center !important;
    }
    .btn-edit-stream {
        width: 100%;
        text-align: center;
        a.mdl-button {
            width: 100% !important;
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            transition: all 0.6s ease;
        }
        a.mdl-button:hover {
            background-color:#2196f3  !important;
            color: white !important;
        }
    }
    .datatable-row-center:hover  {
        color: white !important;
    }
}

.mdl-button-group{
    position: absolute;
    right: 40px;
}
