<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="500" [showSpinner]="false" [direction]="'leftToRightIncreased'"
[color]="'#2196f3'" [trickleSpeed]="250" [thick]="true" [ease]="'linear'"
></ng-progress>



<nav class="topbar js-topbar">
  <div class="container-fluid">
    <div class="topbar__wrapper">
      <a routerLink="/dashboard" class="topbar__brand"></a>
      <div class="topbar__collapse">
        <ul *ngIf="isLoggedin && user"  class="topbar__menu">
          <li class="topbar__item">
            <a routerLink="/dashboard" routerLinkActive="active" class="topbar__link" routerLinkActive="topbar__link--selected" [routerLinkActiveOptions]="{exact: true}">
              <span class="topbar__icon topbar__icon--dashboard"></span>
              Dashboard
            </a>
          </li>
          <li class="topbar__item">
            <a routerLink="/dashboard/sell" routerLinkActive="active" class="topbar__link" routerLinkActive="topbar__link--selected">
              <span class="topbar__icon topbar__icon--sell"></span>
              Sell stream
            </a>
          </li>
          <li class="topbar__item">
            <a routerLink="/dashboard/buy" routerLinkActive="active" class="topbar__link" routerLinkActive="topbar__link--selected">
              <span class="topbar__icon topbar__icon--buy"></span>
              Buy stream
            </a>
          </li>
          <li class="topbar__item">
            <a routerLink="/dashboard/contracts" routerLinkActive="active" class="topbar__link" routerLinkActive="topbar__link--selected">
              <span class="topbar__icon topbar__icon--smart"></span>
              Smart contract
            </a>
          </li>
          <li class="topbar__item">
            <a routerLink="/dashboard/access" routerLinkActive="active" class="topbar__link" routerLinkActive="topbar__link--selected">
              <span class="topbar__icon topbar__icon--access"></span>
              Access control
            </a>
          </li>
          <li *ngIf="aiEnabled" class="topbar__item">
            <a [routerLink]="['dashboard/ai']" class="topbar__link" routerLinkActive="topbar__link--selected">
              <span class="topbar__icon topbar__icon--ai"></span>
              AI
            </a>
          </li>
          <li class="topbar__item">
            <a [routerLink]="['dashboard/kubeflow']" class="topbar__link" routerLinkActive="topbar__link--selected">
              <span class="topbar__icon topbar__icon--ai"></span>
              Kubeflow
            </a>
          </li>
          <li class="topbar__item">
            <a [routerLink]="['dashboard/wallet']" class="topbar__link" routerLinkActive="topbar__link--selected">
              <span class="topbar__icon topbar__icon--wallet"></span>
              My wallet
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="isLoggedin && user"  class="wallet-balance">
        <div class="wallet-balance__title">
          {{user.email}}
        </div>
        <div class="wallet-balance__amount text-center">
          {{balance.amount | dpc }} {{balance.symbol}}
        </div>
      </div>


      <div *ngIf="isLoggedin && user"  class="user">
        <div class="dropdown" dropdown>
          <a class="user__toggle" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <span class="user__toggle-icon"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right"  *dropdownMenu>
            <a routerLink="/dashboard/admin"  class="dropdown-item">
              <span class="user__icon user__icon--settings"></span>
              Admin
            </a>
            <a routerLink="/dashboard/profile"  class="dropdown-item">
              <span class="user__icon user__icon--settings"></span>
              Settings
            </a>
            <a class="dropdown-item" (click)="logout()">
              <span class="user__icon user__icon--logout"></span>
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
