<div class="container-fluid">
  <div class="page-wrapper">
    <div class="page-header">
      <h1 class="page-title">
        Dashboard
      </h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="box wallet">
          <div class="box__header">
            <p class="box__title">
              My wallet
            </p>
          </div>
          <div class="box__content">
            <div class="wallet__coin">
              <span class="wallet__coin-amount">
              52.765123
              </span>
              <span class="wallet__coin-currency">
              TAS
              </span>
            </div>
            <div class="wallet__price">
              <span class="wallet__price-amount">
              340.23
              </span>
              <span class="wallet__price-currency">
              USD
              </span>
            </div>
            <div class="row">
              <div class="col-6 col-md-12">
                <p>
                  <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalBuyTas">
                  Buy TAS
                  </button>
                </p>
              </div>
              <div class="col-6 col-md-12">
                <p class="box--element-no-margin">
                  <button type="button" class="btn btn-block btn-outline-secondary" data-toggle="modal" data-target="#modalWithdrawTas">
                  Withdraw
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalBuyTas" tabindex="-1" role="dialog" aria-labelledby="modalBuyTasLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalBuyTasLabel">Buy TAS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="modal-section-border">
                    <div class="row">
                      <div class="col-3">
                        <div class="modal__subtitle">
                          Ratio
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="modal__ratio">
                          1$ = 1 TAS
                        </div>
                        <!--
                          Validation
                          http://getbootstrap.com/docs/4.1/components/forms/#validation
                          -->
                        <form class="form-inline float-right buy-tas needs-validation" novalidate>
                          <div class="form-group">
                            <label for="tokenAmount" class="form-label mr-2">Token amount</label>
                            <input type="text" class="form-control buy-tas__input" id="tokenAmount" value="25">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <div class="modal__subtitle">
                        Summary
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="modal__summary">
                        25$
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-padding-lg">Buy TAS</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalWithdrawTas" tabindex="-1" role="dialog" aria-labelledby="modalWithdrawTasLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalWithdrawTasLabel">Withdraw TAS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="modal-section-border">
                    <div class="row">
                      <div class="col-3">
                        <div class="modal__subtitle">
                          Ratio
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="modal__ratio">
                          1$ = 1 TAS
                        </div>
                        <!--
                          Validation
                          http://getbootstrap.com/docs/4.1/components/forms/#validation
                          -->
                        <form class="form-inline float-right buy-tas needs-validation" novalidate>
                          <div class="form-group">
                            <label for="tokenAmount" class="form-label mr-2">Token amount</label>
                            <input type="text" class="form-control buy-tas__input" id="tokenAmount" value="25">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <div class="modal__subtitle">
                        Summary
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="modal__summary">
                        25$
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-padding-lg">Withdraw TAS</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="box">
          <div class="box__header">
            <p class="box__title">
              Statistics
            </p>
            <!-- Mobile version of the chart caption -->
            <div class="chart-caption d-sm-none">
              <span class="chart-caption__color chart-caption--color-1">Wallet balance</span>
              <span class="chart-caption__color chart-caption--color-2">Sold streams</span>
            </div>
            <!-- Desktop version of the navigation -->
            <ul class="box-nav d-none d-sm-block">
              <li class="box-nav__item">
                <a href="#" class="box-nav__link">Last week</a>
              </li>
              <li class="box-nav__item">
                <a href="#" class="box-nav__link">Last month</a>
              </li>
              <li class="box-nav__item">
                <a href="#" class="box-nav__link">Last year</a>
              </li>
              <li class="box-nav__item">
                <a href="#" class="box-nav__link active">All</a>
              </li>
            </ul>
          </div>
          <div class="box__content">
            <div class="chart-container" style="position: relative; max-height: 148px;">
              <canvas id="myChart"></canvas>
            </div>
            <!-- Desktop version of the chart caption -->
            <div class="chart-caption d-none d-sm-block">
              <span class="chart-caption__color chart-caption--color-1">Wallet balance</span>
              <span class="chart-caption__color chart-caption--color-2">Sold streams</span>
            </div>
            <!-- Mobile version of the nav -->
            <ul class="box-nav box-nav--xs d-sm-none">
              <li class="box-nav__item">
                <a href="#" class="box-nav__link">Last week</a>
              </li>
              <li class="box-nav__item">
                <a href="#" class="box-nav__link">Last month</a>
              </li>
              <li class="box-nav__item">
                <a href="#" class="box-nav__link">Last year</a>
              </li>
              <li class="box-nav__item">
                <a href="#" class="box-nav__link active">All</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grow">
      <div class="col-lg-7 order-2 order-sm-1">
        <div class="box box-grow">
          <div class="box__header">
            <p class="box__title">
              Streams
            </p>
            <ul class="nav box-nav">
              <li class="box-nav__item">
                <a class="box-nav__link active" data-toggle="pill" href="#sold-stream" role="tab" aria-controls="sold-stream" aria-selected="true">Bought streams</a>
              </li>
              <li class="box-nav__item">
                <a class="box-nav__link" data-toggle="pill" href="#bought-stream" role="tab" aria-controls="bought-stream" aria-selected="false">Sold streams</a>
              </li>
            </ul>
          </div>
          <dpc-table [table]="table "></dpc-table>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-sm-2">
        <div class="box box-grow">
          <div class="box__header">
            <p class="box__title">
              Bought streams
            </p>
          </div>
          <dpc-map [streamList]="streams"></dpc-map>
        </div>
      </div>
    </div>
  </div>
</div>
