<div class="modal-header">
  <h5 class="modal-title">
    New User
    <span *ngIf="errorMsg" class="error-message text-center">{{errorMsg}}</span>
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalSignupService.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Role*</label>
        <div class="col-sm-9">
          <select formControlName="role" class="form-control selectpicker">
            <option value="user"> User </option>
            <option value="admin_user"> Admin User </option>
            <option value="admin_wallet"> Admin Wallet </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email*</label>
        <div class="col-sm-9">
          <input type="email" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors }" />
          <div *ngIf="submitted && form.controls.email.errors" class="invalid-feedback">
            <div *ngIf="form.controls.email.errors.email">Email must be a valid email address.</div>
            <div *ngIf="form.controls.email.errors.maxlength">The maximum length is 32 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Password*</label>
        <div class="col-sm-9">
          <input type="password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.password.errors }"/>
          <div *ngIf="submitted && form.controls.password.errors" class="invalid-feedback">
            <div *ngIf="form.controls.password.errors.required">Password must be provided.</div>
            <div *ngIf="form.controls.password.errors.minlength || form.controls.password.errors.maxlength">
              Password must be 9-32 characters.
            </div>
            <div *ngIf="form.controls.password.errors.hasNumber">
              Password must contain at least 1 Number.
            </div>
            <div *ngIf="form.controls.password.errors.hasCapitalCase">
              Password must contain at least upper case characters.
            </div>
            <div *ngIf="form.controls.password.errors.hasSmallCase">
              Password must contain at least  lower case characters.
            </div>
            <div *ngIf="form.controls.password.errors.hasSpecialCharacters">
              Password must contain at least special characters.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-2-rows">Repeat Password*</label>
        <div class="col-sm-9">
          <input type="password" formControlName="confirm" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.confirm.errors }" />
          <div *ngIf="form.controls.confirm.errors" class="invalid-feedback">
            <div *ngIf="form.controls.confirm.errors.required">Confirm Password must be provided.</div>
            <div *ngIf="form.controls.confirm.errors.invalid">Password mismatch.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">First name</label>
        <div class="col-sm-9">
          <input type="text" formControlName="first_name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.first_name.errors }"/>
          <div *ngIf="submitted && form.controls.first_name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.first_name.errors.required">First name must be provided.</div>
            <div *ngIf="form.controls.first_name.errors.maxlength">The maximum length is 32 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Last name</label>
        <div class="col-sm-9">
          <input type="text" formControlName="last_name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.last_name.errors }"/>
          <div *ngIf="submitted && form.controls.last_name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.last_name.errors.required">Last name must be provided.</div>
            <div *ngIf="form.controls.last_name.errors.maxlength">The maximum length is 32 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Company</label>
        <div class="col-sm-9">
          <input type="text" formControlName="company" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.company.errors }"/>
          <div *ngIf="submitted && form.controls.company.errors" class="invalid-feedback">
            <div *ngIf="form.controls.company.errors.required">Company must be provided.</div>
            <div *ngIf="form.controls.company.errors.maxlength">The maximum length is 32 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
          <input type="text" formControlName="address" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.address.errors }"/>
          <div *ngIf="submitted && form.controls.address.errors" class="invalid-feedback">
            <div *ngIf="form.controls.address.errors.required">Address must be provided.</div>
            <div *ngIf="form.controls.address.errors.maxlength">The maximum length is 128 characters.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-9">
          <input type="text" formControlName="phone" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.phone.errors }"/>
          <div *ngIf="submitted && form.controls.phone.errors" class="invalid-feedback">
            <div *ngIf="form.controls.phone.errors.required">Phone must be provided.</div>
            <div *ngIf="form.controls.phone.errors.maxlength">The maximum length is 32 characters.</div>
          </div>
        </div>
      </div>
      <button class="btn btn-block btn-primary">Create User</button>
    </form>
  </div>
</div>
