<div class="stream-map-container">
<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid animated fadeIn">
        <h4 class="mdl-cell mdl-cell--8-col">MY STREAMS</h4>

        <div class="mdl-button-group" style="">
          <label class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right">
              <input type="file" (change)="onFileChange($event)" style="display:none">
              <i class="material-icons md-dark">list</i> ADD CSV
          </label>
          <button routerLink="/dashboard/sell/add" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right">
              <i class="material-icons md-dark">add</i> ADD STREAM
          </button>
        </div>

        <div class="mdl-cell mdl-cell--12-col">
            <div
            leaflet style="height: 400px;"
            leafletDraw
            [leafletOptions]="options"
            [leafletDrawOptions]="drawOptions"
            (leafletMapReady)="onMapReady($event)">
            </div>
        <div class="mdl-cell mdl-cell--12-col">


        <div class="mdl-cell mdl-cell--12-col">
            <div class="table-search">
                <mdl-textfield
                class="search-input"
                type='text'
                autofocus
                label='Type your search...'
                (keyup)='updateMyStreams($event)'
                autocomplete="name">
                </mdl-textfield>
            </div>

     <ngx-datatable
       #table
       class='material'
       [columns]="tableColumns"
       [columnMode]="'force'"
       [headerHeight]="50"
       [footerHeight]="50"
       [rowHeight]="'auto'"
       [limit]="20"
       [rows]='streamList'
       (activate)='onUserEvent($event)'>
       <ngx-datatable-column name="Name">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.name}}
           </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column name="Stream Type">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.type}}
           </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column name="Description">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.description}}
           </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column name="Tokens per hour">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.price | tas}}
           </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column name="Latitude, Longitude">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.location.coordinates[1]}}, {{row.location.coordinates[0]}}
           </ng-template>
       </ngx-datatable-column>

        <ngx-datatable-column name="Action">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="btn-edit-stream">
                  <a [routerLink]="['/dashboard/sell/edit', row.id]" class="mdl-button mdl-js-button mdl-button--accent">EDIT</a>
              </div>
          </ng-template>
          </ngx-datatable-column>
     </ngx-datatable>
   </div>
</div>
</div>
